* {
    box-sizing: border-box;
    margin: 0;

}

.welcome{
    padding: 25px;
}

.container-home {
    display: flex;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 450px;
    

}

.Btn {
    margin: 20px;
    display: flex;
    justify-content: center;
}

