* {
    box-sizing: border-box;
    margin: 0;

}

.welcome{
    padding: 25px;
}

.container-home {
    
    margin: auto;
    padding: auto;
    width: 100%;
    height: 450px;
    
}

.col {

    margin: auto;
    padding: auto;
}

.Btn {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.row {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    height: 100px;
}